In [1]:
import pandas as pd
merge = pd.read_csv("merge.csv")
merge

         Unnamed: 0              id       category  income  start   end
0                 0  20030100013280         sports       1    240   300
1                 1  20030100013280          sleep       1    330   930
2                 2  20030100013280  entertainment       1    930  1080
3                 3  20030100013280         eating       1   1080  1085
4                 4  20030100013280  entertainment       1   1085  1260
5                 5  20030100013280          sleep       1   1260    90
6                 6  20030100013280         sports       1    100   270
7                 7  20030100013352          sleep       1    240   540
8                 8  20030100013352         eating       1    600   630
9                 9  20030100013352       shopping       1    635   695
10               10  20030100013352      household       1    700   715
11               11  20030100013352  entertainment       1    715   835
12               12  20030100013352      household       1    895  1075
13               13  20030100013352    socializing       1   1075  1115
14               14  20030100013352         eating       1   1115  1160
15               15  20030100013352    socializing       1   1160  1340
16               16  20030100013352      household       1   1340  1400
17               17  20030100013352          sleep       1   1420   585
18               18  20030100013848          sleep       0    240   600
19               19  20030100013848      household       0    600   620
20               20  20030100013848         family       0    620   625
21               21  20030100013848      household       0    625   640
22               22  20030100013848      household       0    660   670
23               23  20030100013848           work       0    670   790
24               24  20030100013848      household       0    790   900
25               25  20030100013848      household       0    900   975
26               26  20030100013848          sleep       0    975  1050
27               27  20030100013848      household       0   1050  1065
28               28  20030100013848         eating       0   1065  1090
29               29  20030100013848      household       0   1090  1115
...             ...             ...            ...     ...    ...   ...
2064734     2064734  20151212152477         eating       1   1020  1080
2064735     2064735  20151212152477          sleep       1   1080  1170
2064736     2064736  20151212152477  entertainment       1   1170  1290
2064737     2064737  20151212152477         family       1   1320  1322
2064738     2064738  20151212152477      household       1   1327     7
2064739     2064739  20151212152477         eating       1     22    37
2064740     2064740  20151212152477    socializing       1     37   180
2064741     2064741  20151212152477  entertainment       1    195   240
2064742     2064742  20151212152498          sleep       0    240   360
2064743     2064743  20151212152498      household       0    360   375
2064744     2064744  20151212152498      household       0    375   380
2064745     2064745  20151212152498      household       0    380   381
2064746     2064746  20151212152498      household       0    381   382
2064747     2064747  20151212152498      household       0    382   387
2064748     2064748  20151212152498  entertainment       0    387   447
2064749     2064749  20151212152498  entertainment       0    447   507
2064750     2064750  20151212152498    socializing       0    507   567
2064751     2064751  20151212152498    socializing       0    597   690
2064752     2064752  20151212152498    socializing       0    780   900
2064753     2064753  20151212152498       shopping       0    905   915
2064754     2064754  20151212152498         eating       0    920   950
2064755     2064755  20151212152498    socializing       0    950  1020
2064756     2064756  20151212152498      household       0   1095  1105
2064757     2064757  20151212152498      household       0   1107  1117
2064758     2064758  20151212152498      household       0   1142  1147
2064759     2064759  20151212152498      household       0   1147  1172
2064760     2064760  20151212152498    socializing       0   1207  1260
2064761     2064761  20151212152498         family       0   1260  1275
2064762     2064762  20151212152498  entertainment       0   1275     0
2064763     2064763  20151212152498          sleep       0      0   450

[2064764 rows x 6 columns]

In [2]:
df = pd.DataFrame(columns=('time', 'activity', 'percent_0', 'percent_1', 'percent_2', 'percent_3'))
time = []
for x in range (0, 60*24, 5):
    for i in range(0,10):
        time.append(x)
df['time'] = time
df

      time activity percent_0 percent_1 percent_2 percent_3
0        0      NaN       NaN       NaN       NaN       NaN
1        0      NaN       NaN       NaN       NaN       NaN
2        0      NaN       NaN       NaN       NaN       NaN
3        0      NaN       NaN       NaN       NaN       NaN
4        0      NaN       NaN       NaN       NaN       NaN
5        0      NaN       NaN       NaN       NaN       NaN
6        0      NaN       NaN       NaN       NaN       NaN
7        0      NaN       NaN       NaN       NaN       NaN
8        0      NaN       NaN       NaN       NaN       NaN
9        0      NaN       NaN       NaN       NaN       NaN
10       5      NaN       NaN       NaN       NaN       NaN
11       5      NaN       NaN       NaN       NaN       NaN
12       5      NaN       NaN       NaN       NaN       NaN
13       5      NaN       NaN       NaN       NaN       NaN
14       5      NaN       NaN       NaN       NaN       NaN
15       5      NaN       NaN       NaN       NaN       NaN
16       5      NaN       NaN       NaN       NaN       NaN
17       5      NaN       NaN       NaN       NaN       NaN
18       5      NaN       NaN       NaN       NaN       NaN
19       5      NaN       NaN       NaN       NaN       NaN
20      10      NaN       NaN       NaN       NaN       NaN
21      10      NaN       NaN       NaN       NaN       NaN
22      10      NaN       NaN       NaN       NaN       NaN
23      10      NaN       NaN       NaN       NaN       NaN
24      10      NaN       NaN       NaN       NaN       NaN
25      10      NaN       NaN       NaN       NaN       NaN
26      10      NaN       NaN       NaN       NaN       NaN
27      10      NaN       NaN       NaN       NaN       NaN
28      10      NaN       NaN       NaN       NaN       NaN
29      10      NaN       NaN       NaN       NaN       NaN
...    ...      ...       ...       ...       ...       ...
2850  1425      NaN       NaN       NaN       NaN       NaN
2851  1425      NaN       NaN       NaN       NaN       NaN
2852  1425      NaN       NaN       NaN       NaN       NaN
2853  1425      NaN       NaN       NaN       NaN       NaN
2854  1425      NaN       NaN       NaN       NaN       NaN
2855  1425      NaN       NaN       NaN       NaN       NaN
2856  1425      NaN       NaN       NaN       NaN       NaN
2857  1425      NaN       NaN       NaN       NaN       NaN
2858  1425      NaN       NaN       NaN       NaN       NaN
2859  1425      NaN       NaN       NaN       NaN       NaN
2860  1430      NaN       NaN       NaN       NaN       NaN
2861  1430      NaN       NaN       NaN       NaN       NaN
2862  1430      NaN       NaN       NaN       NaN       NaN
2863  1430      NaN       NaN       NaN       NaN       NaN
2864  1430      NaN       NaN       NaN       NaN       NaN
2865  1430      NaN       NaN       NaN       NaN       NaN
2866  1430      NaN       NaN       NaN       NaN       NaN
2867  1430      NaN       NaN       NaN       NaN       NaN
2868  1430      NaN       NaN       NaN       NaN       NaN
2869  1430      NaN       NaN       NaN       NaN       NaN
2870  1435      NaN       NaN       NaN       NaN       NaN
2871  1435      NaN       NaN       NaN       NaN       NaN
2872  1435      NaN       NaN       NaN       NaN       NaN
2873  1435      NaN       NaN       NaN       NaN       NaN
2874  1435      NaN       NaN       NaN       NaN       NaN
2875  1435      NaN       NaN       NaN       NaN       NaN
2876  1435      NaN       NaN       NaN       NaN       NaN
2877  1435      NaN       NaN       NaN       NaN       NaN
2878  1435      NaN       NaN       NaN       NaN       NaN
2879  1435      NaN       NaN       NaN       NaN       NaN

[2880 rows x 6 columns]

In [3]:
total_acts = []
acts = ['sleep', 'socializing', 'eating', 'household', 'shopping', 'family', 'work', 'education', 'sports', 'entertainment']
for x in range (0, 60*24, 5):
    total_acts.extend(acts)
df['activity'] = total_acts
df

      time       activity percent_0 percent_1 percent_2 percent_3
0        0          sleep       NaN       NaN       NaN       NaN
1        0    socializing       NaN       NaN       NaN       NaN
2        0         eating       NaN       NaN       NaN       NaN
3        0      household       NaN       NaN       NaN       NaN
4        0       shopping       NaN       NaN       NaN       NaN
5        0         family       NaN       NaN       NaN       NaN
6        0           work       NaN       NaN       NaN       NaN
7        0      education       NaN       NaN       NaN       NaN
8        0         sports       NaN       NaN       NaN       NaN
9        0  entertainment       NaN       NaN       NaN       NaN
10       5          sleep       NaN       NaN       NaN       NaN
11       5    socializing       NaN       NaN       NaN       NaN
12       5         eating       NaN       NaN       NaN       NaN
13       5      household       NaN       NaN       NaN       NaN
14       5       shopping       NaN       NaN       NaN       NaN
15       5         family       NaN       NaN       NaN       NaN
16       5           work       NaN       NaN       NaN       NaN
17       5      education       NaN       NaN       NaN       NaN
18       5         sports       NaN       NaN       NaN       NaN
19       5  entertainment       NaN       NaN       NaN       NaN
20      10          sleep       NaN       NaN       NaN       NaN
21      10    socializing       NaN       NaN       NaN       NaN
22      10         eating       NaN       NaN       NaN       NaN
23      10      household       NaN       NaN       NaN       NaN
24      10       shopping       NaN       NaN       NaN       NaN
25      10         family       NaN       NaN       NaN       NaN
26      10           work       NaN       NaN       NaN       NaN
27      10      education       NaN       NaN       NaN       NaN
28      10         sports       NaN       NaN       NaN       NaN
29      10  entertainment       NaN       NaN       NaN       NaN
...    ...            ...       ...       ...       ...       ...
2850  1425          sleep       NaN       NaN       NaN       NaN
2851  1425    socializing       NaN       NaN       NaN       NaN
2852  1425         eating       NaN       NaN       NaN       NaN
2853  1425      household       NaN       NaN       NaN       NaN
2854  1425       shopping       NaN       NaN       NaN       NaN
2855  1425         family       NaN       NaN       NaN       NaN
2856  1425           work       NaN       NaN       NaN       NaN
2857  1425      education       NaN       NaN       NaN       NaN
2858  1425         sports       NaN       NaN       NaN       NaN
2859  1425  entertainment       NaN       NaN       NaN       NaN
2860  1430          sleep       NaN       NaN       NaN       NaN
2861  1430    socializing       NaN       NaN       NaN       NaN
2862  1430         eating       NaN       NaN       NaN       NaN
2863  1430      household       NaN       NaN       NaN       NaN
2864  1430       shopping       NaN       NaN       NaN       NaN
2865  1430         family       NaN       NaN       NaN       NaN
2866  1430           work       NaN       NaN       NaN       NaN
2867  1430      education       NaN       NaN       NaN       NaN
2868  1430         sports       NaN       NaN       NaN       NaN
2869  1430  entertainment       NaN       NaN       NaN       NaN
2870  1435          sleep       NaN       NaN       NaN       NaN
2871  1435    socializing       NaN       NaN       NaN       NaN
2872  1435         eating       NaN       NaN       NaN       NaN
2873  1435      household       NaN       NaN       NaN       NaN
2874  1435       shopping       NaN       NaN       NaN       NaN
2875  1435         family       NaN       NaN       NaN       NaN
2876  1435           work       NaN       NaN       NaN       NaN
2877  1435      education       NaN       NaN       NaN       NaN
2878  1435         sports       NaN       NaN       NaN       NaN
2879  1435  entertainment       NaN       NaN       NaN       NaN

[2880 rows x 6 columns]

In [4]:
def f(row):
    row['percent_0'] = 0
    row['percent_1'] = 0
    row['percent_2'] = 0
    row['percent_3'] = 0
    return row

df = df.apply(f, axis=1)

In [5]:
incomes = [0,0,0,0]
#for num in merge['income']:
#    incomes[num] += 1
for i in range (0,4):
    incomes[i] = merge[merge['income'] == i]['id'].nunique()
incomes

[81665, 50838, 14505, 10134]

In [6]:
def num(col, act, time):
    new = merge[(merge['category'] == int(act)) & (merge['income']) == int(col)]
    return 1
    '''total = 0
    time = int(time)
    for index, row in new.iterrows():
        start = int(row['start'])
        end = int(row['end'])
        duration = end - start
        if (end < start):
            duration = (1440 - start) + end
        if (start + duration) % 1440 >= time:
            total += 1'''

def f(row):
    row['percent_0'] = num('percent_0', row['activity'], row['time']) / incomes[0]
    row['percent_1'] = num('percent_1', row['activity'], row['time']) / incomes[1]
    row['percent_2'] = num('percent_2', row['activity'], row['time']) / incomes[2]
    row['percent_3'] = num('percent_3', row['activity'], row['time']) / incomes[3]
    return row

df = df.apply(f, axis=1)
df

ValueError: ("invalid literal for int() with base 10: 'sleep'", 'occurred at index 0')

In [9]:
col = 0
act = 'sleep'
time = 0

new = merge[(merge['category'] == act) & (merge['income']) == col]
total = 0
for index, row in new.iterrows():
    start = int(row['start'])
    end = int(row['end'])
    duration = end - start
    if (end < start):
        duration = (1440 - start) + end
    if (start + duration) % 1440 > time:
        
        if (start + duration) % 1440 < start:
            if (False):
                total += 1
        else:
            if (start <= time):
                total += 1
        
print(total)

7715